changequote(`{{', `}}')
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
    <meta name="description" content="Everything You Need To Know To Build A Ventricular Assist Device">
    <title>Libre VAD: A Free/Open Source Hardware Project To Build A Ventricular Assist Device</title>
    <style>include({{toc.css}})</style>
    <link rel="icon" href="data:;base64,esyscmd({{base64 ../../../builder/favicon.png | tr -d '\n'}})">
  </head>
  <body>
    <div class="wrap">
      <div class="cent">
        include({{../../../builder/LibreVAD.svg}})
        <h1>Libre VAD</h1>
        <p>
          Everything You Need To Know To Build A Ventricular Assist Device
          <strong>[Alpha Version]</strong>
        </p>
        <p>
                <strong><a href="./libre_vad.pdf">PDF</a></strong> &#124;
                <strong><a href="./libre_vad.epub">EPUB</a></strong> &#124;
                <strong><a href="./libre_vad.mobi">MOBI</a></strong> &#124;
          <strong><a href="https://gitlab.com/libre_vad/book">GitLab</a></strong>
        </p>
        <p>
          <a href=".."><strong>Mehran Baghi</strong></a>
        </p>
      </div>
      <h2>Table of contents</h2>
      include({{toc.html}})
    </div>
  </body>
</html>
